:root {
    --tag-select-default-height: 30px;
    --arrow-width: 25px;
    --standard-font-size: 16px;
    --select-border-color: #d9d9d9;
    --select-option-hover-color: #f5f5f5;
    --select-option-selected-background-color: #dcedfc;
    --select-option-selected-hover-color: #c2e0fc;
    --select-no-option-container-height: 100px;
}

.tag-select-container {
    border-radius: 6px;
    border: 1px solid var(--select-border-color);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*w-[calc(100%-2.5rem)] border border-pink-200 h-full box-border*/
.tag-select-body-container {
    width: calc(100% - var(--arrow-width));
    align-self: stretch;
    cursor: text;
}

.select-body-inner-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: none;
    overflow: hidden;
    box-sizing: border-box;
}

.tag-select-body-input-container {
    margin-left: 2px;
    display: flex;
}

.tag-select-body-input-container input{
    border: none;
    outline: none;
}

.tag-select-body-input-container input::placeholder {
    color: var(--select-border-color);
    font-size: var(--standard-font-size);
    text-indent: 3px;
}

.select-arrow-container {
    width: var(--arrow-width);
    align-self: stretch;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: text;
}

.select-arrow-container svg {
    color: var(--select-border-color);
}
